@font-face {
  font-family: Montserrat;
  src: url(Media/Montserrat-VariableFont_wght.ttf)
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

body,
button,
a {
  color: white;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  cursor: default;
}

.menu {
  display: flex;
  background-color: #333333;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 13%;
  color: white;
}

.menu-logo img {
  height: 40px;
  width: auto;
  display: flex;
}

.menu-links a {
  text-decoration: none;
  margin: 15px;
  color: white;
  position: relative;
  font-size: 15px;
}

.menu-links :hover {
  color: #ff9100;
}

.menu-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 80%;
  height: 3px;
  background-color: #ff9100;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1000ms
}

.menu-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 1000ms;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.slogan {
  padding-top: 37px;
}

.titulo1 div {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 180px;
  font-style: bold;
  position: fixed;
}
.tit1 {
  color: #ff9100; 
  font-size: 1010%;
  position:relative; 
  font-family: Montserrat; 
  font-weight: 700; 
  line-height: 151.92px; 
  word-wrap: break-word
}

.tit2 {
  font-size: 800%;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 110px;
  word-wrap: break-word;
}

.main-telemovel img {
  height: 850px;
  width: auto;
  flex-shrink: 0;
  display: flex;
  position: relative;
  margin-top: -80px;
}

.main-fundocinzento {
  width: 100%;
  height: 850px;
  background-color: #333333;
  position: absolute;
}

.main-parabola {
  width: 100%;
  height: auto;
  margin-top: -280px;
}

.main-ideia h1 {
  padding-top: 3%;
  margin-top: -5%;
  text-align: center;
  color: #000000;
  font-size: 80px;
  font-family: Montserrat;
  word-wrap: break-word;
}

.app h1 {
  padding-top: 3%;
  margin-top: 2.5%;
  text-align: center;
  color: #000000;
  font-size: 80px;
  font-family: Montserrat;
  word-wrap: break-word;
}

.equipa h1 {
  padding-top: 3%;
  margin-top: 2.5%;
  text-align: center;
  color: #000000;
  font-size: 80px;
  font-family: Montserrat;
  word-wrap: break-word;
}

.imgequipa img {
  margin: 1%;
  height: 350px;
  width: auto;
  align-items: center;
  flex-shrink: 2;
  margin-top: -15px;
}

.curva {
  /*precisa-se de adicionar algo aqui para tirar aquela linha branca nojenta do fundo do site*/
}

.contentorideia {
  display: flex;
  justify-content: center;
}

.subsc1ideia {
  display: flex;
  align-items: center;
}

.subsc1ideia img {
  height: auto;
  width: 50%;
}

.subsc1ideia .parte1 {
  font-size: 350%;
  color: #333333;
  font-weight: bold;
}

.subsc1ideia .parte2 {
  font-size: 350%;
  color: #FF9100;
  font-weight: bold;
}

.subsc1ideia p {
  margin: -1%;
}

.texto-direita {
  flex: 1;
  text-align: right;
}

.contentorideia2 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.subsc2ideia {
  display: flex;
  align-items: center;
}

.subsc2ideia .parte4 {
  font-size: 350%;
  color: #333333;
  font-weight: bold;
}

.subsc2ideia .parte5 {
  font-size: 350%;
  color: #ff9100;
  font-weight: bold;
}

.texto-esquerda {
  flex: 1;
  text-align: left;
}

.subsc2ideia p {
  margin: -1%;
}

.subsc2ideia img {
  width: 35%;
  height: auto;
}

.universo {
  margin-top: 5%;
  background-image: url(Media/fundoideia.jpg);
  height: 550px;
  background-position: center;
  display: flex;
  align-items: center;
}

.textouniverso p {
  margin: -1%;
  margin-left: 10%;
  letter-spacing: 1px;
  width: max-content;
}

.textouniverso .parte6 {
  font-size: 200%;
  font-weight: bold;
  opacity: 0.5;
}

.textouniverso .parte7 {
  font-size: 350%;
  font-weight: bold;
}

.appdesign {
  width: 75%;
  height: 100%;
  background: #F1F1F1;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contentordesign {
  display: flex;
  justify-content: center;
}

.subsc1design {
  display: flex;
  align-items: center;
}

.subsc1design img {
  height: auto;
  width: 35%;
  margin-top: 3%;
}

.subsc1design .parte1 {
  font-size: 350%;
  color: #333333;
  font-weight: bold;
}

.subsc1design .parte2 {
  font-size: 350%;
  color: #FF9100;
  font-weight: bold;
}

.subsc1design p {
  margin: -3%;
  margin-left: 5%;
}

.appdesign2 {
  width: 75%;
  height: 100%;
  background-image: url(Media/mosaicoapps.webp);
  background-position: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
  margin-left: auto;
  margin-right: auto;
}

.contentordesign2 {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.subsc2design {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.subsc2design p {
  margin: -1%;
  font-size: 275%;
  color: #f1f1f1;
  font-weight: bold;
  text-align: center;
}

.appdesign3 {
  width: 35.7%;
  height: 100%;
  background-color: #F1F1F1;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
  margin-left: auto;
  margin-right: 1.8%;
}

.contentordesign3 {
  display: flex;
  justify-content: center;
}

.subsc3design {
  margin-top: 13%;
  text-align: center;
}

.subsc3design img {
  margin-top: 13%;
  height: 325px;
}

.subsc3design .parte8 {
  font-size: 270%;
  color: #FF9100;
  font-weight: bold;
}

.subsc3design .parte9 {
  font-size: 270%;
  color: #333333;
  font-weight: bold;
}

.subsc3design p {
  margin: -3%;
}

.appdesign4 {
  width: 35.7%;
  height: 100%;
  background-color: #333333;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8%;
  margin-left: 1.8%;
  margin-right: auto;
}

.contentordesign4 {
  display: flex;
  justify-content: center;
}

.subsc4design {
  margin-top: 50%;
  margin-bottom: 7%;
  text-align: center;
}

.contentorcontentordesign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subsc4design .parte89 {
  font-size: 400%;
  color: #f1f1f1;
  font-weight: bold;
}

.subsc4design .parte90 {
  font-size: 400%;
  color: #00FF66;
  font-weight: bold;
}

.textomaisjunto p{
  margin: -5%;
}

.textomaisclaroefundo  p {
  margin: -1%;
}

.textomaisclaroefundo {
  margin-top: 35%;
  font-size: 100%;
  color: #ffffff;
  opacity: 0.3;
  font-weight: normal;
}

.appdesign5 {
  width: 75%;
  height: 100%;
  background: #F1F1F1;
  border-radius: 50px;
  display: flex;
  margin-top: 1.8%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contentordesign5 {
  display: flex;
  justify-content: center;
}

.subsc5design {
  display: flex;
  align-items: center;
}

.subsc5design img {
  height: auto;
  width: 35%;
  margin-top: 3%;
}

.subsc5design .parte1 {
  font-size: 350%;
  color: #333333;
  font-weight: bold;
}

.subsc5design .parte2 {
  font-size: 350%;
  color: #FF9100;
  font-weight: bold;
}

.subsc5design p {
  margin: -3%;
}