@font-face {
  font-family: Montserrat;
  src: url(Media/Montserrat-VariableFont_wght.ttf)
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #333777;
  }
  
body, button, a {
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
button:hover {
    cursor:default;
  }

.menu {
  display: flex;
  background-color: #333333;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%; 
  color: white; 
}

.menu-logo img {
  height: 35px;
  width: auto;
  display: flex;
  background: #333333;
}

.menu-links a {
  text-decoration: none;
  margin: 10px;
  color: white;
  background: #333333;
}

.menu-links a:hover{
  color: #333777;
}

.menu-links a:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 80%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 4000ms
}
.menu-links a:hover:after{
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 4000ms

}

.main{
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;


  margin-right: 20px;
  margin-left: 20px;
}

.slogan {
  padding-top: 77px;

}

.titulo1{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  
  
}
.titulo2{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
 


}



