@font-face {
  font-family: Montserrat;
  src: url(Media/Montserrat-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #7e7d7d;
  }
  
  :root {
    --text: #ffffff;
    --red: #C51212;
    --blue: #0041C2;
    --green: #14B02D;
    --yellow: #ffc12b;
  
  }
  
  body, button, a {
    color: var(--text);
    font-family: Montserrat, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    cursor: pointer;
  }

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 100%;
    width: 100%;
}

header {
  display: flex;
  align-items: center;
  column-gap: 64px;
  width: 95%;
  padding-top: 25 px;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 25px;
}

header img{
  width: 175px;
  height: auto;
}


.menu {
  display: flex;
  align-items:center;
  column-gap: 50px;

  list-style: none; 
  background-color: color #333;   
}

.menu _link{
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;

  position:relative;
  align-items: end;
} 

.menu _link:hover{
  color: var(--green);
}

.menu_link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 60%;
  height: 1px;
  background: var(--green);

  transform: scale(0);
  transform-origin: right;
  transition: transform 400ms
}
.menu_link:hover::after{
  transform: scale(1);
  transform-origin: left;
  transition: transform 4000ms

}
main{
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;


  margin-right: 20px;
  margin-left: 20px;
}

