header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 96%;
    padding-top: 25 px;
    margin-left: 20px;
    margin-right: 20px;
}

header img{
    width: 70px;
    height: auto;
}

header h1{
    min-width: 10px;
    font-size: x-large;
    align-items: center;

}
    
 

