@font-face {
    font-family: Montserrat-Bold;
    src: url(Media/Montserrat-VariableFont_wght.ttf)
  }

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}

.Main__info{
    width: 100%;
    max-width: 580px;
    margin-right: 20px;
    margin-left: 20px;
}

.Main__info p{
    font-size: 19px;
    margin: 20px 0 28px;
    text-align: center;
}

.Main__info div{
    display: flex;
    column-gap: 25px;
}

.Main__info div a,.Main__info div button{
   width: 100%;
   height: 45px;
   padding: 10px 0;
   border-radius: 5px;
 

   font-size: 19px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.4px;

   transform: skew(-5deg)

}

.Main__info div a {
    background: var(--red);
    text-align: center;
}

.Main__info div button{
    background: var(--red);
    text-align: center;

 
}

.Main__info img{
    width: auto;
    height: 250px;
}